### Python Conditions and If statements

Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [ ]:
#If statement:
a = 33
b = 200
if b < a: #false
    print("b is greater than a")

In this example we use two variables, a and b, 
which are used as part of the if statement to test whether b is greater than a. 
As a is 33, and b is 200, we know that 200 is greater than 33, 
and so we print to screen that "b is greater than a".

Indentation
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. 
Other programming languages often use curly-brackets for this purpose.

Elif
The elif keyword is pythons way of saying 
"if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 32
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In this example a is greater than b, so the first condition is not true, 
also the elif condition is not true, so we go to the else condition and print to screen that 
"a is greater than b".

You can also have an else without the elif:

In [ ]:
a = 200
b = 33
c = a+b
if c < 20: print("the addition of a and b is less than 20")
else: print("the addition of a and b is not less than 20")

the addition of a and b is not less than 20

Assignment

Print out the sum of the odd numbers between 1 and 10 using if statement

### Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
#One line if statement:
if a > b: print("a is greater than b")

In [ ]:
#One line if else statement:
a = 2
b = 330

if a > b: 
    print("A")
else:
    print("B")


print("A") if a > b else print("B")

In [ ]:
#One line if else statement, with 3 conditions:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
#Test if a is greater than b, AND if c is greater than a:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

In [ ]:
#Test if a is greater than b, OR if a is greater than c:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

In [ ]:
#Nested If
#You can have if statements inside if statements, this is called nested if statements.

x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

In [ ]:
amount = int(input("Hi, I will like to purchase a laptop, how much do you sell it?"))
print("ha!, " , amount ,", is too much o")

var2 = "what if we do", amount - 100000, "?"
dialog = input(var2)

if dialog.lower() == "okay" or "alright" or "yes" or "ok":
    print("we have a deal")
else:
    print("no deal")

ValueError: invalid literal for int() with base 10: ''

CLASSWORK
I AM A REAL ESTATE PROFESSIONAL, I HAVE PLANS SELLING ONLY TO THOSE WHOSE SALARY IS GREATER THAN 500000, 
SO THAT I AM ASSURED THEY WILL BUILD ON THE LAND ON TIME. WRITE AN IF STATEMENT TO CONFIRM IF A USER'S SALARY
IS GREATER THAN 500000, WHENEVER THEY REACH OUT TO BUY A LAND.

### The pass Statement
if statements cannot be empty, but if you for some reason have an if statement with no content, 
put in the pass statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
    pass

## Python Loops
Python has two primitive loop commands:

while loops

for loops

The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
#Print i as long as i is less than 6:
i = 1
while i < 6:
    print(i)
    i += 2

1
3
5

The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
#Exit the loop when i is 3:

i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

The continue Statement
With the continue statement we can stop the current iteration, and continue with the next

In [ ]:
#Continue to the next iteration if i is 3:

i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2

The else Statement
With the else statement we can run a block of code once when the condition no longer is true

In [ ]:
#Print a message once the condition is false:

i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### Python For Loops

A for loop is used for iterating over a sequence 
(that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, 
and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
#Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

Looping Through a String
Even strings are iterable objects, they contain a sequence of characters

In [ ]:
#Loop through the letters in the word "banana":
for x in "banana":
    print(x)

b
a
n
a
n
a

The break Statement
With the break statement we can stop the loop before it has looped through all the items

In [2]:
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [ ]:
#Exit the loop when x is "banana", but this time the break comes before the print:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [ ]:
#Do not print banana:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [ ]:
A program that generates a random number, ask the user to guess  the number.
If user guesses wrong, the amount the user has staked with is deducted
from his balance, if the user guess right, the amunt he staked with, multiplied
by 2 is added to the balance. The user can keep playing until his balance 
becomes 0 or he decided to stop playing. 

random_no = generate random number
balance = 1000

stake_amount = input("how much do you want to stake?")

guess = input("guess a number")

guess == random_no

if not equal? balance - stake_amount
if equal? stake_amount x 2 + balance

continue playing or stop playing?

In [ ]:
# Using nexted loop to generate multiplication table of 2 - 12 table

In [18]:
#a program to print out 2 multplication table
num = 1

while num <= 10:
    print('2 x ',num, '=', 2 * num)
    num += 1

2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x  10 = 20

### The range() Function

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, 
and increments by 1 (by default), and ends at a specified number.

In [ ]:
#Using the range() function:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [21]:
for i in range(1,13):
    print("2 x" ,i, " = ", 2 * i )

2 x 0  =  0
2 x 1  =  2
2 x 2  =  4
2 x 3  =  6
2 x 4  =  8
2 x 5  =  10
2 x 6  =  12
2 x 7  =  14
2 x 8  =  16
2 x 9  =  18
2 x 10  =  20
2 x 11  =  22
2 x 12  =  24

In [ ]:
#Using the start parameter:
for x in range(2, 6):
    print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, 
however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3)

In [ ]:
#Increment the sequence with 3 (default is 1):
for x in range(2, 6, 2):
    print(x)

2
4

### Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [ ]:
#Print all numbers from 0 to 5, and print a message when the loop has ended:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

In [ ]:
#Break the loop when x is 3, and see what happens with the else block:
for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Finally finished!")

Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop"

In [ ]:
#Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [24]:
#all possible 3 digit combinations of 123. 
a = [1,2,3]
b = [1,2,3]
c = [1,2,3]

for x in a:
  for y in b:
    for z in c:
       print(x,y,z)

1 1 1
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3
1 3 1
1 3 2
1 3 3
2 1 1
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
2 3 3
3 1 1
3 1 2
3 1 3
3 2 1
3 2 2
3 2 3
3 3 1
3 3 2
3 3 3

In [29]:
limit = 12
num = 2
while num <= limit:
    times = 1
    while times <= limit
    print ("")

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
2 x 10 =  20
2 x 11 =  22
2 x 12 =  24

In [5]:
for i in range (1, 13):
   for m in range (1, 13):
      print(i, "x", m, "=", i * m)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144