In [68]:
# loop
# this allows the attempt to be print 3 time and number give it a number
for number in range(3):
    print("atempt" ,number)

atempt 0
atempt 1
atempt 2

In [69]:
# the will allow the number to start from one
for number in range(3):
    print("attempt" ,number + 1)

attempt 1
attempt 2
attempt 3

In [70]:
# this will allow the "." to be print the number of times
for number in range(3):
    print("attempt" ,number + 1, (number + 1) * ".")

attempt 1 .
attempt 2 ..
attempt 3 ...

In [71]:
for number in range(1,4):
    print(number)

1
2
3

In [72]:
# the will help print the code from 1 and finish before 4
for number in range(1, 4):
    print("attempt" ,number ,number * ".")

attempt 1 .
attempt 2 ..
attempt 3 ...

In [73]:
# the 2 is a step and it will help add a step to the  code
for number in range(1, 10 ,2):
    print("attempt" ,number ,number * ".")

attempt 1 .
attempt 3 ...
attempt 5 .....
attempt 7 .......
attempt 9 .........

In [74]:
successfull = True
for number in range(3):
    print("attempt")
    if successfull:
        print("successfull")
        break# this will give you one output
else:
      print("you are not successfull")
    # this was writen for the for loop

attempt
successfull

In [75]:
# nested loop
for x in range(5):
    for y in range(3):
        print(f"{x} , {y}")

0 , 0
0 , 1
0 , 2
1 , 0
1 , 1
1 , 2
2 , 0
2 , 1
2 , 2
3 , 0
3 , 1
3 , 2
4 , 0
4 , 1
4 , 2

In [76]:
for x in range(1 ,6):
    for y in range(1 ,4):
        print(f"{x} , {y}")

1 , 1
1 , 2
1 , 3
2 , 1
2 , 2
2 , 3
3 , 1
3 , 2
3 , 3
4 , 1
4 , 2
4 , 3
5 , 1
5 , 2
5 , 3

In [77]:
# interate
for x in [1, 2 ,3 ,4]:
    print(x)

1
2
3
4

In [78]:
for x in "python":
    print(x)

p
y
t
h
o
n

In [79]:
#  write a program that count even number
count = 0
for i in range(1, 10):
    if i % 2 == 0:
      count = 2
      print(f"we have {count} numbers")

we have 2 numbers
we have 2 numbers
we have 2 numbers
we have 2 numbers

In [80]:
list = ["njnd","edeind4id","did"]
for x in list:
    print(x)

njnd
edeind4id
did

In [81]:
for x in range(1 ,13):
   for y in range(1 ,13):
      print(x, "x",y, "=",x * y)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [82]:
# fucntion
# it is used to write much line of code shorter

In [83]:
def greet():
    print("hello bro")
    print("my gee")

    
greet()

hello bro
my gee

In [84]:
#arguments
def greet(first_name, last_name):  
    # a Parameter is the inputs that you define for your function 
    print(f"my name is  {first_name} {last_name}")
    print("my gee")

greet("victor","ayomide") 
# An argument is the actual value assigned to the giving Paromita?

my name is  victor ayomide
my gee

In [14]:
for x in range(1, 13):
    print(x, "x",x ,"=", x*x)

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100
11 x 11 = 121
12 x 12 = 144

In [85]:
# return
# the return statement is used to return a value from a fuction
def name_greeting(name):
    return f"my name is {name}"

laddd = name_greeting("victor")
print(laddd)

my name is victor

In [86]:
# we have two type of functions
# Functions the carry out a task
# and fuction that calculate and return a value

In [87]:
# increment
def increment(num, be):
    return num + be

result = number(5, 6)
print(result)

TypeError: 'int' object is not callable

In [ ]:
def increment(num, be):
    return num + be

increment(2, 7)

9

In [ ]:
# keyward argument
# you can make your code readable by using keyward argument
# it is used to pass the argument with the key

print(increment(2, be=7))

9

In [ ]:
# default argument
#all opotional parament should come after the required parameters 
# 7 is the default paramenter
def increment(num, be=7):
    return num + be
print(increment(5))

9

In [ ]:
# argurment,wait,what
# * it is used to pass variable numbers of argument to a function
def multiply(*numbers):
    total = 1
    for number in numbers:
        total *= number
    return total  
print(multiply(2,3,4,4))

96

In [ ]:
# **args
def user_name(**user):
    print(user)

user_name(id=1, name="victor", age=19)

{'id': 1, 'name': 'victor', 'age': 19}

In [ ]:
def user_name(**user):
    print(user["id"])

user_name(id=1, name="victor", age=19)

1

In [ ]:
# scope

In [13]:
# execise
def fizz_buzz(input):
    if input % 3 == 0 and input % 5 == 0:
        return "fizzbuzz"
    elif input % 3 == 0:
        return "fizz"
    elif input % 5 == 0:
        return "buzz"
    else:
        return input
print(fizz_buzz(15))

fizzbuzz

for class = pascal case (VictorQuadri)
for variable = snake case (victor_quadri)
for function = camel case (victorQuadri)

A python class for banking operations. 

A Bank class that has the attributes; customer_name and account_number, and account_balance

Another Account class that inherits the the bank class. It has methods for withdrawal, check balance and deposit. 

You’re to print out the customer’s details. 

You’re also to implement the withdrawal, the deposit and the check balance methods.

In [7]:
class bank():
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance

    def account_details(self):
        print("MR",self.name,"your account balance is", self.balance)


profile = bank("QUADRI VICTOR", 1000 )
profile.account_details()

MR QUADRI VICTOR your account balance is 1000

In [5]:



class account(bank):
    def deposit(self):
        amount = int(input("input the amount you want to deposit"))  
        self.balance += amount
        print("you have dopsited your amount")
        print("your current balance is", self.balance)
           

    def withdrawal(self):
        amount = int(input("enter the amount to withdraw:"))
        if amount > self.balance:
            print("insufficient balance")
        
        else:
            print("you have withdrawn the amount")
            self.balance = self.balance - amount
            print("your current balance is ", self.balance)
            return self.balance
        

    def check_balance(self):
        print("your balance is ", self.balance)   
    
    
    

profile = account("QUADRI VICTOR", 1000 )
profile.withdrawal()
profile.deposit()
profile.check_balance()

you have withdrawn the amount
your current balance is  500
you have dopsited your amount
your current balance is 800
your balance is  800

In [93]:
profile.withdrawal()

you have withdrawn the amount
your current balance is  1000

1000